/*TwtlibApp*/

body{
  margin: 0px ;
}

#body{
  background-image: url('./background.png') ;
  background-size: 60%;
  background-position: center;
  margin: 0px auto;
  background-repeat: no-repeat;
}

#header{
  height: 60px;
  width: 100%;
  background-color: #EE0000;
}

.logo{
  background-image: url('./headerlogo.svg');
  background-repeat:  no-repeat;
  background-size: 100%;
  height: 80%;
  width: 20%;
  margin-top: 5px;
  margin-left: 3%;
  display: inline-block;
}

.login{
  background-image: url('./account.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-right:3%;
  display: inline-block;
  float: right;
}

.Twtlib-Research{
  margin: 0 auto;
  margin-top: 33%;
  display: block;
  height: 60px;
  width: 500px;
}

.Research{
  background-color: white;
  height: 35px;
  width: 385px;
  color: #EBEBEB;
  border: 2px solid white;
  font-size: 16px;
  box-shadow: 2px 2px 3px 3px #e1e1e1;
  display: inline-block;
  border-radius: 20px;
}

.research-button{
  height: 43px;
  width: 100px;
  float: right;
  background-color: #EE0000;
  border: 0px solid #EE0000;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 3px 3px  #e1e1e1;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}

#footer{
  height: 60px;
  width: 100%;
  background-color: #EE0000;
  text-align: center;
  color: rgba(255,255,255,0.5);
  line-height: 20px;
  bottom: 0px;
  position: absolute;
}

.para1{
  padding-top: 10px;
  margin:0 auto;
  font-size: 14px;
}

.para2{
  margin:0 auto;
  font-size: 8px;
}



/*以下是TwtlibList*/

list-body{
  margin: 0px auto;
}

#list-body{
  background-image: url('./background.png') ;
  background-size: 100%;
  background-position: bottom;
  margin: 0px auto;
  background-repeat: no-repeat;
  bottom: 0px;
  margin-top: 0%;
}

#list-header{
  height: 50px;
  width: 100%;
  background-color: #EE0000;
}

.list-logo{
  background-image: url('./headerlogo.svg');
  background-repeat:  no-repeat;
  background-size: 100%;
  height: 70%;
  width: 15%;
  margin-top: 5px;
  margin-left: 24%;
  display: inline-block;
}

.list-login{
  background-image: url('./account.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right:26%;
  display: inline-block;
  float: right;
}

.TwtlibList-Research{
  margin: 0 auto;
  margin-top: 2%;
  display: block;
  height: 60px;
  width: 500px;
}

.Research-result{
  margin-top: 2%;
}

.List-Research{
  background-color: white;
  height: 30px;
  width: 370px;
  color: #EBEBEB;
  border: 2px solid white;
  font-size: 16px;
  box-shadow: 2px 2px 3px 3px #e1e1e1;
  display: inline-block;
  border-radius: 18px;
}

.list-research-button{
  height: 38px;
  width: 100px;
  float: right;
  background-color: #EE0000;
  border: 0px solid #EE0000;
  color: white;
  font-size: 18px;
  box-shadow: 2px 2px 3px 3px  #e1e1e1;
  display: inline-block;
  cursor: pointer;
  border-radius: 18px;
}

.result{
  width:40%;
  margin:0 auto;
  margin-top:0%;
}

.book1,.book2,.book3{
  margin-top: 3%;
  width:550px;
  height:160px;
  background-color: #FFFFFF;
  border: 1px solid #d3d7d4;
  box-shadow: 1px 1px 1px  #C2C2C2;
  border-radius: 10px;
}

.cover1,.cover2,.cover3{
  float:left;
  width:100px;
  height:120px;
  border: 1px solid #d3d7d4;
  display:inline-flex;
  margin-left: 5%;
  margin-top: 3.5%;
}

.information1,.information2,.information3{
  float:left;
  width:380px;
  height:120px;
  background-color: #FAFAFA;
  position:right;
  display:inline-flex;
  margin-top: 3.5%;
  padding-left:3%;
}

.title1,.title2,.title3{
  width:100%;
  height:40px;
  background-color: #EFEBE9 ;
  display:inline-block;
  margin-top: 0%;
}

.detail1,.detail2,.detail3{
  width:380px;
  height:100px;
  display:inline-block;
}

#list-footer{
  height: 60px;
  width: 100%;
  background-color: #350500;
  text-align: center;
  color: rgba(255,255,255,0.5);
  line-height: 20px;
  bottom: 0px;
  position: absolute;
}


/*以下是Twtlibinformation*/
#information-body{
  background-color: #F2F3F4;
}

.return{
  margin-top: 1%;
  color:#848484;
  background-color: snow;
  border-radius: 20px;
}

.all-information{
  width:40%;
  margin:0 auto;
}

.Basic-Information{
  width:550px;
  height:300px;
  background-color: white;
  box-shadow: 3px 3px 3px  #C2C2C2;
  margin-top: 3%;
  border-radius: 10px;
}



.LOCATION{
  margin-top: 3%;
  width:550px;
  height:250px;
  background-color: white;
  padding-top: 1%;
  box-shadow: 3px 3px 3px  #C2C2C2;
  border-radius: 10px;
}

.CONTENTS{
  margin-top: 3%;
  width:550px;
  height:250px;
  background-color: white;
  padding-top: 1%;
  box-shadow: 3px 3px 3px  #C2C2C2;
  border-radius: 10px;
}

.information-title1,.information-title2,.information-title3{
  color:#848484;
  font-size: 20px;
}